body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 0px 388px;
}

.header {
    background: #fff;
    width: 1380px;
    height: 100px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    background-color: #fff;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    margin-left: 150px;
}

.number {
    margin-right: 280px;
    color: #B3B3B3;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.num {
    color: #000;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    transition: color 0.3s linear;
}

.num:hover {
    color: #0ccfe9;
}

.button {
    background-color: #FC9B09;
    color: #FFF;
    text-decoration: none;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.2s linear;
    transition: color 0.2s linear;
}

.button:hover {
    background-color: #bf6924;
    color: #565252;
}

.helimain {
    background-image: url(image/fon.jpg);
    position: relative;
    width: 1663px;
    height: 790px;
    background-repeat: no-repeat;
    background-size: cover;
}

.helimain-title {
    padding-top: 280px;
    margin-left: -50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: grid;
}

.helimain-text {
    width: 887px;
    height: 89px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.helimain-text span {
    color: #FC9B09;
}

.helimain-price {
    padding-top: 35px;
    width: 224px;
    height: 96px;
}

.halimain-price-block {
    position: relative;
    bottom: 107px; left: 4px;
    width: 224px;
    height: 96px;
}

.helimain-circle {
    position: relative;
    top: 4px; left: 129px;
}

.halimain-cost{
    position: relative;
    bottom: 75px; left: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.156%;
    width: 121px;
    height: 19px;
}

.helimain-1500 {
    position: relative;
    bottom: 75px; left: 20px;
    width: 113px;
    height: 36px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 151.156%;
}

.helimain-btn {
    width: 304px;
    height: 68px;
    position: relative;
    top: 20px;
    border-radius: 3px;
    border: 3px solid #e4e1e18e;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 70px 0px rgba(255, 255, 255, 0.70);
    text-align: center;
}

.helimain-button {
    width: 230px;
    height: 21px;
    position: relative;
    top: 20px;
    color: #bfb9b9b6;
    text-decoration: none;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.helimain-button:hover {
 color: #FC9B09;
}

.photoshoot {
    text-decoration: none;
    margin: 70px 0px;
    padding: 0;
  }
  
  .container {
    margin: 0px auto;
    max-width: 1130px;
    width: 100%;
  }
  
  .photoshoot__title-text {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    color: #37373f;
  }
  
  .photoshoot__paragrah {
    color: #37373f;
    font-family: Montserrat;
    font-size: 18px;
    line-height: normal;
    margin-top: 18px;
    line-height: 146.28%;
    
  }
  
  .photoshoot__recomended {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .photoshoot__icon-text01 {
    color: #37373f;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
  }
  
  .photoshoot__icon-text02 {
    color: #37373f;
    font-family: Montserrat;
    font-size: 18px;
  }
  
  .photoshoot__grade-color {
    font-weight: bold;
  }
  
  .photoshoot__line-1 {
    content: "";
    display: flex;
    width: 569px;
    height: 1px;
    background-color: #c7c7c7;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  
  .photoshoot__line-2 {
    content: "";
    display: flex;
    width: 569px;
    height: 1px;
    background-color: #c7c7c7;
    margin-top: 30px;
  }
  
  .photoshoot__grade {
    display: flex;
    align-items: end;
    gap: 10px;
  }
  
  .photoshoot__grade-2 {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-top: 60px;
    margin-left: 30px;
  }
  
  .photoshoot__left {
    margin-left: 20px;
  }
  
  .photoshoot__grade-img {
    margin-bottom: 4px;
  }
  
  .photoshoot__body {
    display: flex;
  }

  .photo-package__title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .photo-package__text-1 {
    color: #37373f;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
  }
  
  .photo-package__images-1 {
    display: flex;
    gap: 10px;
  }
  
  .photo-package__images-2 {
    display: flex;
    margin-top: 10px;
    gap: 10px;
  }
  
  .photo-package__buttons {
    text-align: center;
  }
  
  .photo-package__button-01 {
    color: #5286ec;
    font-family: Montserrat;
    font-size: 17px;
    margin-top: 45px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 5px;
  }
  .photo-package__button-01:hover {
    color: #5285ec9d;
  }
  
  .photo-package__button-01::before {
    content: url(./img/arrow-1.jpg);
    align-items: center;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
  }
  
  .photo-package__button-01::after {
    content: url(./img/arrow-1.jpg);
    margin-left: 10px;
    position: relative;
    bottom: 1px;
  }
  
  .photo-package__line {
    width: 100%;
    height: 1px;
    background-color: #c7c7c7;
    margin-top: 27px;
    display: flex;
    justify-content: center;
  }

  .organization__title-1 {
    margin-top: 37px;
    margin-bottom: 15px;
  }
  
  .organization__text-1 {
    font-size: 18px;
    color: #37373f;
    font-family: Montserrat;
    font-weight: 500;
  }
  
  .organization__text-info-1 {
    color: #37373f;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 151.156%;
  }
  
  .organization__button-01 {
    color: #5286ec;
    font-family: Montserrat;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 5px;
    margin-left: -5px;
  }

  .organization__button-01:hover {
    color: #5285eca1;
  }
  
  .organization__title-2 {
    margin-top: 37px;
    margin-bottom: 15px;
  }
  
  .organization__text-2 {
    font-size: 18px;
    color: #37373f;
    font-family: Montserrat;
    font-weight: 500;
    margin-top: 23px;
  }
  
  .organization__text-info-2 {
    color: #37373f;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 151.156%;
  }
  
  .organization__text-3 {
    color: #37373f;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
  }
  
  .organization__left {
    display: flex;
  }
  
  .organization__button-01::after {
    content: url(./img/arrow-1.jpg);
    margin-left: 10px;
    position: relative;
    bottom: 1px;
  }
  
  .organization__profil-01 {
    text-align: center;
    margin-left: 150px;
    margin-top: 68px;
  }
  
  .organization__button-2 {
    color: #5286ec;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 5px;
    line-height: 151.156%;
  }

  .organization__button-2:hover {
    color: #5285eca1;
  }
  
  .organization__img-heard {
    width: 31px;
    height: 27px;
    align-items: end;
  }
  
  .organization__images {
    display: flex;
    justify-content: end;
    margin-right: -47px;
    margin-top: -40px;
    position: relative;
    top: 15px;
  }
  
  .photoshoot__grade-color-2 {
    font-weight: bolder;
    font-weight: 500;
    font-size: 17px;
    font-family: Montserrat;
  }
  
  .photo-package__line-2 {
    height: 1px;
    width: 101%;
    background-color: #c7c7c7;
    margin-top: 27px;
  }
  
  .organization__body {
    display: flex;
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 50px;
  }
  
  .price {
    margin-top: 50px;
  }
  
  .price__title-text-1 {
    color: #37373F;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 146.28%;
    margin-bottom: 30px;
  }
  
  .price__menu {
    border: 1px solid #C7C7C7;
    width: 770px;
    height: 458px;
    border-radius: 2px;
  }
  
  .price__date-text-01 {
    color: #37373F;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
  }
  
  .price__date-text-01 {
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 18px;
    border-bottom: 0.5px solid #C7C7C7;
  }
  
  .price__number-bold {
    color: #37373F;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 146.28%;
  }
  
  .price__date-img-01 {
    margin-left: 15px;
    margin-bottom: -10px;
  }
  
  .prices {
    font-family: Montserrat;
    line-height: 26px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #c7c7c7;
  }
  
  .price__text-01 {
    margin-bottom: 10px;
  }
  
  .price__text-02 {
    font-weight: bold;
  }
  
  .price__text-03 {
    margin-top: 10px;
  }
  
  .prices__button {
    color: #FC9B09;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    border: 2px solid #FC9B09;
    padding: 16px 33px;
    border-radius: 3px;
    margin-right: 30px;
  }
  
  .prices-2 {
    font-family: Montserrat;
    line-height: 26px;
    padding-top: 20px;
    padding-left: 30px;
  }
  
  .price__button-01 {
    padding: 15px 30px;
    color: #FC9B09;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    border-color: #FC9B09;
    border-radius: 3px;
    border: 3px solid #FC9B09;
    cursor: pointer;
  }

  .price__button-01:hover {
    color: #fc9b0998;
    border-color: #fc9b0998;
    border-radius: 3px;
    border: 3px solid #fc9b0998;
    cursor: pointer;
  }
  
  .prices {
    display: flex;
    justify-content: space-between;
  }
  
  .prices-2 {
    display: flex;
    justify-content: space-between;
  }
  
  .prices__buttons {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  .link {
    margin-top: 47px;
  }
  
  .link__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .link__img-01 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .link__left {
    display: flex;
    align-items: center;
  }
  
  .link__lang {
    color: #37373F;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
  }
  
  .link__img-02 {
    margin-left: 5px;
  }

.maps {
    background-image: url(image/map.jpg);
    margin: 50px 0px;
    position: absolute;
    width: 1685px;
    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-place {
    background-color: #FFF;
    width: 373px;
    height: 390px;
    display: grid;
    padding: 20px 0px;
    position: relative;
    top: 20px;  right: 10px;
}

.map-1{
    display: flex;
    margin: 5px 30px;

}

.map-text-1 {
    margin-left: 15px;
    width: 170px;
    height: 37px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.156%;
}

.map-text-1 span {
    width: 116px;
    height: 21px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.28%;
}

.map-image {
    width: 51px;
    height: 51px;
}

.map-2{
    display: flex;
    margin: 5px 30px;
}

.map-text-2 {
    margin-left: 15px;
    width: 170px;
    height: 37px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.156%;
}

.map-text-2 span {
    width: 116px;
    height: 21px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.28%;
}

.map-3{
    display: flex;
    margin: 5px 30px;
}

.map-text-3 {
    margin-left: 15px;
    width: 170px;
    height: 37px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.156%;
}

.map-text-3 span {
    width: 116px;
    height: 21px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.28%;
}

.map-avatar{
    display: flex;
    margin: 0px 30px;
}

.avatar {
    margin-left: 15px;
    width: 170px;
    height: 37px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.156%;
}

.avatar span {
    width: 116px;
    height: 21px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.28%;
}

.btn {
    width: 279px;
    color: #5286EC;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    line-height: 151.156%;
}

.btn:hover{
    color: #5285eca1;
}

.reviews {
    margin-top: 635px;
    margin-left: -58px;
}

.reviews-title {
    margin: 50px 0px;
}

.reviews-naming {
    color: #37373F;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.28%;
    margin-bottom: 35px;
}

.reviews-line {
    display: flex;
}

.reviews-coment {
    display: grid;
    margin: 0px 20px;
}

.name {
    color: #37373F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 0px;
}

.name span {
    color: #37373F;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.156%;
    padding: 10px 0px;
}

.check-img {
    margin-left: 20px;
}

.reviews-estimation {
    color: #B3B3B3;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.156%;
    margin: 10px 0px;
}

.reviews-text {
    color: #37373F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.156%;
    margin: 5px 0px;
}

.reviews-date {
    color: #B3B3B3;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.156%;
    margin: 10px 0px;
}

.reviews-other {
    text-align: center;
}

.reviews-button {
    color: #5286EC;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.28%;
    text-decoration: none;
}

.reviews-button:hover {
    color: #5285ec9d;
}

footer {
    background-color: #FAF9F8;
    height: 77px;
  }
  
  .footer__body {
    display: flex;
    margin-left: 30px;
  }
  
  .footer__icons {
    padding-top: 13px;
  }
  
  .footer__icon {
    margin-left: 20px;
  }
  
  .footer__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #B3B3B3;
    font-family: Montserrat;
    font-size: 14px;
    margin-left: 275px;
    padding-top: 4px;
  }
  
  .footer__text-01 {
    margin-bottom: 7px;
  }