/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  min-height: 100vh;
  display: flex;
  background: #aeacac;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-attachment: local;
}
.container {
  position: relative;
  max-width: 700px;
  max-height: 1500px;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #FC9B09;
}
.form button:hover {
  background: #f0a534d1;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
}

.wrapper {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Montserrat;
    font-size: 16px;
    width: 500px;
    padding: 3em;
    border-radius: 1em;
    perspective: 800px;
  }
  .credit-card {
    position: relative;
    width: 350px;
    height: 220px;
    margin: auto;
    transform-style: preserve-3d;
    transition: 0.3s;
  }
  .card-front,
  .card-back {
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(#33a4f8, #206df9);
    border-radius: 1em;
    backface-visibility: hidden;
  }
  .card-front {
    padding: 2em 1em;
  }
  .branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .branding img {
    width: 50px;
    height: auto;
  }
  .card-back {
    position: absolute;
    transform: rotateY(180deg);
  }
  .card-number {
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin-top: 3em;
  }
  .details {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    font-size: 0.8em;
  }
  .details span {
    display: block;
  }
  .details #card-holder-name {
    text-transform: uppercase;
  }
  .card-back .black-strip {
    position: relative;
    background-color: #000000;
    height: 50px;
    top: 2em;
  }
  .card-back .white-strip {
    top: 3em;
    position: relative;
    text-align: right;
  }
  .card-back .white-strip span {
    margin-right: 1em;
  }
  .card-back .white-strip div {
    height: 30px;
    background-color: #ffffff;
    margin-top: 0.5em;
  }
  .card-back .visa-logo {
    position: absolute;
    width: 50px;
    margin-top: 4em;
    right: 1em;
  }
  form {
    margin-top: 2em;
  }
  label,
  input {
    display: block;
  }
  label {
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  label {
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  input {
    width: 100%;
    border: 1px solid #000000;
    padding: 1em 0.5em;
    border-radius: 0.5em;
  }
  input:not(:last-child) {
    margin-bottom: 1em;
  }
  form .date-cvv {
    display: flex;
    justify-content: space-between;
  }

  #checklist {
    --background: #ffffff;
    --text: #414856;
    --check: #4F29F0;
    --disabled: #C3C8DE;
    --width: 100px;
    --height: 140px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    padding: 30px 45px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    label {
      color: var(--text);
      position: relative;
      cursor: pointer;
      display: grid;
      align-items: center;
      width: fit-content;
      transition: color .3s ease;
      &::before,
      &::after {
        content:"";
        position: absolute;
      }
      &::before {
        height: 2px;
        width: 8px;
        left: -27px;
        background: var(--check);
        border-radius: 2px;
        transition: var(--background) .3s ease; 
      }
      &:after {
        height: 4px;
        width: 4px;
        top: 8px;
        left: -25px;
        border-radius: 50%;
      }
    }
    input[type="checkbox"] {
      --webkit-appearance: none;
      --moz-appearance: none;
      position: relative;
      height: 15px;
      width: 15px;
      outline: none;
      border: 0;
      margin: 0 15px 0 0;
      cursor: pointer;
      background: var(--background);
      display: grid;
      align-items: center;
      &::before,
      &::after {
        content:"";
        position: absolute;
        height: 2px;
        top: auto;
        background: var(--check);
        border-radius: 2px;
      }
      &::before {
        width: 0px;
        right: 60%;
        transform-origin: right bottom;
      }
      &::after {
        width: 0px;
        left: 40%;
        transform-origin: left bottom;
      }
      &:checked {
        &::before {
          animation: check-01 .4s ease forwards;
        }
        &::after {
          animation: check-02 .4s ease forwards;
        }
        + label {
          color: var(--disabled);
          animation: move .3s ease .1s forwards;
          &::before {
            background: var(--disabled);
            animation: slice .4s ease forwards;
          }
          &::after {
            animation: firework .5s ease forwards .1s;
          }
        }
      }
    }
  }
  
  @keyframes move {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
    100% {
      padding-right: 4px;
    }
  }
  @keyframes slice {
    60% {
      width: 100%;
      left: 4px;
    }
    100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
    }
  }
  @keyframes check-01 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
    }
    100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
    }
  }
  @keyframes check-02 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
    }
    100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }
  @keyframes firework {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
  }